<div class="entire-contents">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p style="margin-top: 1vh;">{{formattedDate}} __- Time<span style="color: rgb(59, 58, 58); font-weight: 700; font-size: 16px;">: {{formattedTime}}</span></p>
  </div>
  <div class="top-events">
    <h2>Hosted Top Events!</h2>
  </div>
  <div class="dynamic-contents">
    <div class="event-card" *ngFor="let event of events; let i = index">
      <div class="image-area">
        <img src="/events/cover 2.jpg" alt="">
      </div>
      <div class="event-details">
        <h3>{{event.event_name}}</h3>
        <p>{{event.short_desc}}</p>
        <div class="buttons">
          <button (click)="navigateToBooking(event.event_id)">Book now</button>
        </div>
      </div>
    </div>
  </div>
</div>
