<nav>
  <div class="center-nav">
    <div class="icons-and-name">
      <img src="/icons/file.png" alt="" />
      <img src="/icons/stars.png" alt="" />
      <p>
        <span style="color: rgb(158, 154, 154)">Dashboard /</span>
        Events
      </p>
    </div>
    <div class="searchbar-area">
      <div class="searchbar">
        <img src="/icons/search.png" alt="" />
        <input type="text" placeholder="Search for events" />
      </div>
      <div class="area">
        <img class="home" src="/icons/home.png" alt="" />
        <img class="notifications" src="/icons/notifications.png" alt="" />
        <img class="profile" src="/profile_images/peter.jpeg" alt="" />
      </div>
    </div>
  </div>
</nav>
