<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>

  <div class="stats-grid">
    <div class="stat-item">
      <h3>Total Managers</h3>
      <p>367</p>
    </div>
    <div class="stat-item">
      <h3>Already With Event</h3>
      <p>300</p>
    </div>
    <div class="stat-item">
      <h3>Without Event</h3>
      <p>67</p>
    </div>
  </div>

  <div class="details">
		<h2>X - planner Managers</h2>
  <div class="grid-header">
    <div class="header-item">Manager Name</div>
    <div class="header-item">Email</div>
    <div class="header-item">Contact</div>
    <div class="header-item">Status</div>
    <div class="header-item">Actions</div>
  </div>

  <div class="user-item">
    <div class="item-user">
			<img src="/profile_images/hailey.jpeg" alt="">
			<p>Kate Morrison</p>
		</div>
    <div class="item-email">katem05&#64;gmail.com</div>
    <div class="item-event-name">+254712345678</div>
    <div class="item-location">Approved</div>
    <div class="item-actions">
      <button class="reject-button">Reject Previledge</button>
    </div>
  </div>
	</div>
</div>