<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>

  <div class="stats-grid">
    <div class="stat-item">
      <h3>Total Registered Users</h3>
      <p>1,367</p>
    </div>
    <div class="stat-item">
      <h3>Total Attendees</h3>
      <p>1,156</p>
    </div>
    <div class="stat-item">
      <h3>Managers Available</h3>
      <p>200</p>
    </div>
  </div>

  <div class="searchbar">
    <img src="/icons/search.png" alt="" />
    <input type="text" placeholder="Search for events" />
  </div>

  <div class="details">
    <h2>Event Approval Pending</h2>
    <div class="grid-header">
      <div class="header-item">User</div>
      <div class="header-item">Email</div>
      <div class="header-item">Contact</div>
      <div class="header-item">Roles</div>
      <div class="header-item">Actions</div>
    </div>

    <div class="user-item">
      <div class="item-user">
        <img src="/profile_images/hailey.jpeg" alt="" />
        <p>Kate Morrison</p>
      </div>
      <div class="item-email">katem05&#64;gmail.com</div>
      <div class="item-event-name">+254712345678</div>
      <div class="item-location">Attendee</div>
      <div class="item-actions">
        <button class="reject-button">Delete User</button>
      </div>
    </div>
  </div>
</div>
