<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>X-Planner</title>
</head>
<body>
  <table>
    <tr>
      <th>Welcome, <%=UserName%></th>
    </tr>
    <tr>
      <td>
        <p>Join us on Board, <%=UserName%> we are please to have you here. Browse events
          for free, make booking and await approval with ease. Also, access manager previledges
          by registering as Manager to access, managerial previlages of creating your hosted
          events and manage your guests.
        </p>
        <p>
          <img src="https://media.istockphoto.com/id/1145157410/vector/welcome-on-board-hand-drawn-vector-lettering-isolated-on-white-background.jpg?s=170667a&w=0&k=20&c=iOSbwbyDBcg5kvPIKVuIgic2QpURRjwsf2AmfQ7Ry-0=" alt="">
        </p><br>
        <p>Thank you for joining us on Board, and welcome to X-Planner.</p>
      </td>
    </tr>
  </table>
</body>
</html>