<div class="errorMsg" *ngIf="error" [style]="styles">
  <p>{{error}}</p>
</div>
<div class="errorMsg" *ngIf="successmsg" [style]="styles">
  <p>{{successmsg}}</p>
</div>

<div class="entire-contents">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px;" src="/icons/down.png" alt="">
    </div>
    <p style="margin-top: 1vh;">{{formattedDate}} __- Time<span style="color: rgb(1, 162, 33); font-weight: 700; font-size: 16px;">: {{formattedTime}}</span></p>
  </div>
  <div class="booking-title">
    <h2>Bookings Available Today</h2>
  </div>
  <div class="bookings">
    <div class="header">
      <div class="item">
        <h3>Image</h3>
      </div>
      
      <div class="item">
        <h3>Title</h3>
      </div>
      
      <div class="item">
        <h3>Ticket Type</h3>
      </div>
      
      <div class="item">
        <h3>Price</h3>
      </div>
      
      <div class="item">
        <h3>Book Status</h3>
      </div>
      
      <div class="item">
        <h3>Booking Date</h3>
      </div>
      
      <div class="item">
        <h3>Action</h3>
      </div>
      
    </div>
    <div class="dynamic-display" *ngFor="let event of events, let i = index">
      <div class="detail">
        <img [src]="event.images" [alt]="event.event_name">
      </div>
      <div class="detail">
        <p>{{event.event_name}}</p>
      </div>
      <div class="detail">
        <p>{{bookings[i].ticket_type}}</p>
      </div>
      <div class="detail">
        <div class="if" *ngIf="bookings[i].ticket_type == 'couple'">
          <p>{{event.couple | currency:"Ksh. "}}</p>
        </div>
        <div class="if" *ngIf="bookings[i].ticket_type == 'singles'">
          <p>{{event.singles | currency:"Ksh. "}}</p>
        </div>
        <div class="if" *ngIf="bookings[i].ticket_type == 'groups'">
          <p>{{event.groups | currency:"Ksh. "}}</p>
        </div>
      </div>
      <div class="detail">
        <div class="if" *ngIf="bookings[i].book_status == true">
          <p style="color: rgba(0, 128, 0, 0.804); font-size: 14px;">Approved</p>
        </div>
        <div class="if" *ngIf="bookings[i].book_status == false">
          <p style="color: rgba(191, 63, 8, 0.804); font-size: 14px;">Pending</p>
        </div>
      </div>
      <div class="detail">
        <p>{{bookings[i].createdAt | date}}</p>
      </div>
      <div class="detail" style="width: 100%; height: 100%; display: flex; align-items: center;">
        <button style="background-color: rgba(11, 108, 11, 0.753);">Update</button>
        <button (click)="deleteBooking(bookings[i].book_id)" style="background-color: rgba(126, 7, 7, 0.826);">Delete</button>
      </div>
    </div>
  </div>
</div>