
.errorMsg, .successMsg {
  z-index: 3;
  position: fixed;
  top: 8vh;
  left: 40%;
  width: 40vw;
  height: 8vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px;
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.entire-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.time-display {
  width: 100%;
  height: 8vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.today {
  width: 100%;
  display:flex;
  align-items: center;
}

.bookings {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.header, .dynamic-display {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header h3 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(153, 152, 152);
}

.item, .detail {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 4%;
  padding: 10px;
}

.detail button {
  width: 48%;
  height: 60%;
  transition: all 0.3s;
}

.detail button:hover {
  opacity: 0.8;
}

.item {
  border-right: 1px solid rgb(124, 122, 122);}

.detail {
  height: 100%;
  width: 100%;
}

.detail img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.dynamic-display {
  height: 10vh;
  background-color: #fff;
  border-bottom: 1px dashed #311010;
}

button {
  width: 30%;
  padding: 2px;
}