<div class="entire-contents">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px;" src="/icons/down.png" alt="">
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>
  <div class="booking-title">
    <h2>Bookings Available Today</h2>
  </div>
  <div class="bookings">
    <div class="header">
      <div class="item">
        <h3>Image</h3>
      </div>
      
      <div class="item">
        <h3>Title</h3>
      </div>
      
      <div class="item">
        <h3>Ticket Type</h3>
      </div>
      
      <div class="item">
        <h3>Price</h3>
      </div>
      
      <div class="item">
        <h3>Book Status</h3>
      </div>
      
      <div class="item">
        <h3>Booking Date</h3>
      </div>
      
      <div class="item">
        <h3>Action</h3>
      </div>
      
    </div>
    <div class="dynamic-display">
      <div class="detail">
        <img src="/events/himg2.jpeg" alt="">
      </div>
      <div class="detail">
        <p>Couple's Date Night</p>
      </div>
      <div class="detail">
        <p>Couple</p>
      </div>
      <div class="detail">
        <p>12, 000</p>
      </div>
      <div class="detail">
        <p>Confirmed</p>
      </div>
      <div class="detail">
        <p>10 July 2024</p>
      </div>
      <div class="detail">
        <button>
          <img style="width: 20px;" src="/icons/delete.png" alt="">
        </button>
      </div>
    </div>
  </div>
</div>