<nav>
  <div class="center-nav">
    <div class="icons-and-name">
      <img src="/icons/file.png" alt="" />
      <img src="/icons/stars.png" alt="" />
      <p>
        <span style="color: rgb(158, 154, 154)">Dashboard /</span>
        Events
      </p>
    </div>
    <div class="searchbar-area">
      <div class="searchbar">
        <img src="/icons/search.png" alt="" />
        <input type="text" placeholder="Search for events" />
      </div>
      <div class="area" style="cursor: pointer">
        <img (click)="clearLocalStorage()" class="home" src="/icons/home.png" alt="" />
        <img routerLink="/attendee/notifications" class="notifications" src="/icons/notifications.png" alt="" />
        <img routerLink="/attendee/profile" class="profile" [src]="user.profile_image" [alt]="user.fullname" />
      </div>
    </div>
  </div>
</nav>
