<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>

  <div class="stats-grid">
    <div class="stat-item">
      <h3>Events to be approved</h3>
      <p>367</p>
    </div>
    <div class="stat-item">
      <h3>Approved Events</h3>
      <p>156</p>
    </div>
    <div class="stat-item">
      <h3>Events not Approved</h3>
      <p>39</p>
    </div>
  </div>

  <div class="approve-all">
    <button class="approve-all-button">Approve All</button>
  </div>

  <div class="details">
		<h2>Event Approval Pending</h2>
  <div class="grid-header">
    <div class="header-item">Manager</div>
    <div class="header-item">Email</div>
    <div class="header-item">Event Name</div>
    <div class="header-item">Location</div>
    <div class="header-item">Actions</div>
  </div>

  <div class="user-item">
    <div class="item-user">
			<img src="/profile_images/hailey.jpeg" alt="">
			<p>Kate Morrison</p>
		</div>
    <div class="item-email">katem05&#64;gmail.com</div>
    <div class="item-event-name">Beach Party</div>
    <div class="item-location">Garrisa</div>
    <div class="item-actions">
      <button class="approve-button">Approve</button>
      <button class="reject-button">Reject</button>
    </div>
  </div>
	</div>
</div>