<div class="errorMsg" *ngIf="error" [style]="styles">
  <p>{{error}}</p>
</div>
<div class="errorMsg" *ngIf="successmsg" [style]="styles">
  <p>{{successmsg}}</p>
</div>

<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p style="margin-top: 1vh;">{{formattedDate}} __- Time<span style="color: rgb(1, 162, 33); font-weight: 700; font-size: 16px;">: {{formattedTime}}</span></p>
  </div>

  <div class="stats-grid">
    <div class="stat-item">
      <h3>Events to be approved</h3>
      <p>{{events.length}}</p>
    </div>
    <div class="stat-item">
      <h3>Approved Events</h3>
      <p>{{totalEvents}}</p>
    </div>
    <div class="stat-item">
      <h3>Events</h3>
      <p>{{totalEvents - events.length}}</p>
    </div>
  </div>

  <div class="approve-all">
    <button class="approve-all-button" (click)="updateAllEventStatus()">Approve All</button>
  </div>

  <div class="details">
		<h2>Event Approval Pending</h2>
  <div class="grid-header">
    <div class="header-item">Manager</div>
    <div class="header-item">Email</div>
    <div class="header-item">Event Name</div>
    <div class="header-item">Location</div>
    <div class="header-item">Actions</div>
  </div>

  <div class="user-item" *ngFor="let event of events, let i = index">
    <div class="item-user">
			<img [src]="managers[i].profile_image" [alt]="managers[i].fullname">
			<p>{{managers[i].fullname}}</p>
		</div>
    <div class="item-email">{{managers[i].email}}</div>
    <div class="item-event-name">{{event.event_name}}</div>
    <div class="item-location">{{event.location}}</div>
    <div class="item-actions">
      <button class="approve-button" (click)="updateEventStatus(event.event_id)">Approve</button>
      <button class="reject-button" (click)="deleteAnEventById(event.event_id)">Delete</button>
    </div>
  </div>
	</div>
</div>