<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>

  <button class="new-event">New Event</button>

  <div class="grid-header">
    <div class="header-item">Event Name</div>
    <div class="header-item">Date Created</div>
    <div class="header-item">Total Earned</div>
    <div class="header-item">Status</div>
    <div class="header-item">Actions</div>
  </div>

  <div class="event-item">
    <div class="event-title">
      <span class="event-number">1.</span>
      <img src="/events/wedding.jpg" alt="Event Image" />
      <span class="event-name">Pre wedding excursion</span>
    </div>
    <div class="item-date">Friday, 5 July 2024 2100 hrs</div>
    <div class="item-earned">Ksh. 12,000.50</div>
    <div class="item-status approved">Approved</div>
    <div class="item-actions">
      <button class="action-btn view">View</button>
      <button class="action-btn delete">Delete</button>
    </div>
  </div>
</div>
