.entire-contents {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

form {
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 73%;
  row-gap: 2%;
  display: grid;
  grid-template-rows: 15% 1fr 10%;
  box-shadow: 0 0 10PX rgba(0, 0, 0, 0.2);
}

.inside-form {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: url(../../../../../public/events/christmas-7655448_640.webp);
}

.inside-form h1 {
  color: white;
  font-weight: 600;
}

.inside-form h4 {
  color: rgb(242, 242, 242);
  font-size: small;
}

.dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.inputs {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.left, .right {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 92%;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1%;
}

.detail, .textarea, .right-items {
  margin-left: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.detail label, .textarea label, .right-items label {
  margin-top: 1%;
}

.detail input, .right-items input, .right-items select {
  background-color: rgb(228, 228, 228);
  margin-top: 1%;
  margin-left: 3%;
  width: 90%;
  height: 70%;
  border-radius: 10px;
  border: none;
  padding-left: 2%;
  padding-right: 2%;
}

.textarea {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1%;
  grid-template-rows: 1fr;
}

.text {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;
}

textarea {
  background-color: rgb(228, 228, 228);
  padding-top: 2%;
  margin-left: 5%;
  width: 90%;
  height: 92%;
  border-radius: 10px;
  border: none;
  padding-left: 2%;
  padding-right: 2%;
}

.text1 {
  height: 60%;
}

.right {
  grid-template-rows: repeat(7, 1fr);
  border-left: 1px solid ;
}

.button-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1%;
}

.button-container button{
  width: 10%;
  height: 80%;
}

.Cancel {
  background-color: rgb(194, 10, 10);
}

.Cancel:hover {
  background-color: rgba(194, 10, 10, 0.724);
}

.errorMsg, .successMsg {
  z-index: 3;
  position: fixed;
  top: 8vh;
  width: 40vw;
  height: 8vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px;
  color: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time-display {
  width: 100%;
  height: 8vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.today {
  width: 100%;
  display:flex;
  align-items: center;
}

.new-event {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.grid-header {
  background-color: rgb(193, 240, 255);
  width: 100%;
  height: 12vh;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: large;
  font-weight: 800;
  border-bottom: 2px solid #ddd;
  border-radius: 10px;
}

.dynamic-display {
  width: 100%;
}

.event-item {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
}

.event-item:hover {
  background-color: rgb(233, 255, 233);
}

.header-item {
  height: 50%;
  border-right: 1px solid#000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-title {
  display: grid;
  grid-template-columns: 10% 40% 40%;
  align-items: center;
  justify-content: center;
}

.event-title img {
  width: 100px;
  border-radius: 5px;
}

.item-name,
.item-date,
.item-earned,
.item-status,
.item-actions {
  padding: 5px;
  text-align: center;
}

.item-status {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.action-btn {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 2px;
}

.create {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 10%;
  height: 78%;
  cursor: pointer;
  margin: 2px;
}

.action-btn.delete {
  background-color: #f44336;
}

.action-btn:hover, .create:hover {
  opacity: 0.8;
}

.loader {
  position: absolute;
  bottom: 20%;
  left: 50%;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid rgb(0, 106, 255);
  border-bottom: 3px solid rgb(0, 106, 255);
  width: 8px;
  height: 8px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}