<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px;" src="/icons/down.png" alt="">
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>
  <div class="stats">
    <div class="stat-item">
      <p>Total Created Events</p>
      <h2>4</h2>
      <span>+1</span>
    </div>
    <div class="stat-item1">
      <p>Approved Events</p>
      <h2>6</h2>
    </div>
    <div class="stat-item2">
      <p>Pending Events</p>
      <h2>2</h2>
    </div>
    <div class="stat-item3">
      <p>Total Hosted Users</p>
      <h2>52</h2>
    </div>
  </div>
  
  <div class="events-list">
    <div class="events-header">
      <div class="event-title"><h3>Title</h3></div>
      <div class="event-status"><h3>Status</h3></div>
      <div class="event-action"><h3>Action</h3></div>
    </div>

    <div class="event-item">
      <div class="event-title">
        <span class="event-number">1.</span>
        <img src="/events/wedding.jpg" alt="Event Image">
        <span class="event-name">Pre wedding excursion</span>
      </div>
      <div class="event-status">
          <span class="status approved">Approved</span>
      </div>
      <div class="event-action">
          <button class="check-event">
            <img src="/icons/searchevent.png" alt="">
            <p>Check Event</p>
          </button>
      </div>
    </div>
    <div class="event-item">
      <div class="event-title">
        <span class="event-number">2.</span>
        <img src="/events/beach party.jpg" alt="Event Image">
        <span class="event-name">Beach Party</span>
      </div>
      <div class="event-status">
          <span class="status pending">Pending</span>
      </div>
      <div class="event-action">
          <button class="check-event">
            <img src="/icons/searchevent.png" alt="">
            <p>Check Event</p>
          </button>
      </div>
    </div>
    <div class="event-item">
      <div class="event-title">
        <span class="event-number">3.</span>
        <img src="/events/conference meet up.jpg" alt="Event Image">
        <span class="event-name">Conference meeting</span>
      </div>
      <div class="event-status">
          <span class="status approved">Approved</span>
      </div>
      <div class="event-action">
          <button class="check-event">
            <img src="/icons/searchevent.png" alt="">
            <p>Check Event</p>
          </button>
      </div>
    </div>
  </div>
</div>