<div class="entire-contents">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>
  <div class="top-events">
    <h2>Hosted Top Events!</h2>
  </div>
  <div class="dynamic-contents">
    <div class="event-card">
      <div class="details">
        <h3>Event 1</h3>
        <p>Description of Event 1</p>
        <div class="buttons">
          <button>Book now</button>
        </div>
      </div>
    </div>
  </div>
</div>
