<div class="entire-contents">
  <div class="errorMsg" *ngIf="error" [style]="styles">
    <p>{{error}}</p>
  </div>
  <div class="successMsg" *ngIf="success">
    <p>{{success}}</p>
  </div>
  <div class="middle-contents">
    <div class="left">
      <div class="dark-background">
        <h1 style="color: white; width: 50%; font-size: 36px; font-weight: 800; line-height: 150%;">Join Us Now, Register</h1>
      </div>
    </div>
    <div class="right">
      <div class="title">

        <h1>Planning With xPlanner</h1>
        <p>Your one-stop solution for events browsing, managing and booking</p>

      </div>
      <form [formGroup]="registerUserForm">
        <div class="name">
          <label for="">Full Name: </label>
          <div class="input-and-error">
            <input type="text" formControlName="fullname">
            <div class="error">

            </div>
          </div>
        </div>
        <div class="name">
          <label for="">Phone Number:</label>
          <div class="input-and-error">
            <input type="phone" formControlName="phone_number">
            <div class="error">
            </div>
          </div>
        </div>
        <div class="name">
          <label for="">Email: </label>
          <div class="input-and-error">
            <input type="email" formControlName="email">
            <div class="error">
            </div>
          </div>
        </div>
        <div class="name">
          <label for="">Country Of Residence:</label>
          <div class="input-and-error">
            <input type="country" formControlName="country">
            <div class="error">
            </div>
          </div>
        </div>
        <div class="name">
          <label for="">Address: </label>
          <div class="input-and-error">
            <input type="address" formControlName="address">
            <div class="error">
            </div>
          </div>
        </div>
        <div class="name">
          <label for="">Profile Photo: </label>
          <div class="input-and-error">
            <input type="file" (change)="setProfilePhoto($event)">
            <div class="loader" *ngIf="show"></div>
            <div class="error">
            </div>
          </div>
        </div>
        <div class="name">
          <label for="">Password: </label>
          <div class="input-and-error">
            <input type="password" formControlName="password">
            <div class="error">
            </div>
          </div>
        </div>
        <div class="name">
          <label for="">Confirm Password: </label>
          <div class="input-and-error">
            <input type="password" formControlName="confirm_password">
            <div class="error">
            </div>
          </div>
        </div>
        <div class="name">
          <label for="">Register As:</label>
          <select formControlName="role">
            <option value="">Select Role</option>
            <option value="attendee">attendee</option>
            <option value="manager">manager</option>
          </select>
        </div>
        <div class="button-holder">
          <button type="submit" [disabled]="false">Register</button>
        </div>
        <p>Already Registered? <a routerLink="/login">Login</a></p>
      </form>
    </div>
  </div>
</div>
