.entire-contents {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-contents {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  padding: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2%;
}

.left {
  background-image: url(../../../../public/events/food\ fest.jpeg);
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.dark-background {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 1fr;
  row-gap: 2%;
}

.title {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1 {
  font-size: 24px;
  font-weight: 800;
}

.title p {
  color: rgb(120, 119, 119);
  font-size: 13px;
}

form {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  row-gap: 5px;
}

form > div {
  display: flex;
  align-items: center;
}

.name label {
  width: 35%;
  font-weight: 600;
}

.error {
  height: 10%;
  display: flex;
  margin-top: 1px;
  padding-left: 4px;
}

.error p {
  font-size: 12px;
  color: rgb(190, 17, 17);
}

.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 55%;
  height: 100%;
  background-color: #5cb85c;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

select {
  width: 63%;
  height: 100%;
  background-color: #cefbce;
  border-radius: 10px;
  border: none;
  padding-left: 2%;
}

.input-and-error {
  width: 63%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input-and-error input {
  background-color: rgb(224, 224, 224);
  height: 90%;
  border: none;
  border-radius: 10px;
  border-bottom: 1px dotted rgb(120, 119, 119);
  padding-left: 2%;
}