<div class="entire-contents">
  <form>
    <div class="inside-form">
      <div class="dark">
        <h1>Feel At Home With xPlanner</h1>
        <h4>Create Colourfull Events With us</h4>
      </div>
    </div>

    <div class="inputs">
      <div class="left">
        <div class="detail">
          <label for="name">Event Name</label>
          <input type="name" placeholder="name">
        </div>

        <div class="detail">
          <label for="name">Location</label>
          <input type="text" placeholder="location">
        </div>

        <div class="detail">
          <label for="name">Start Date</label>
          <input type="date">
        </div>
        
        <div class="detail">
          <label for="name">End Date</label>
          <input type="date">
        </div>
        
        <div class="textarea">
          <div class="text">
            <label for="sort_desc">Short Description</label>
            <textarea class="text1" type="text" placeholder="simpler details on event"></textarea>
          </div>
          
          <div class="text">
            <label for="sort_desc">Long Description</label>
            <textarea type="text" placeholder="elaborated description about event"></textarea>
          </div>
        </div>
      </div>
        
      <div class="right">
        <div class="right-items">
          <label for="name">Images</label>
          <input type="file">
        </div>
        
        <div class="right-items">
          <label for="name">Book Price (per person*)</label>
          <input type="number" placeholder="0.00">
        </div>
        
        <div class="right-items">
          <label for="name">Booking Deadline Date</label>
          <input type="date">
        </div>
        
        <div class="right-items">
          <label for="name">Event Cartegory</label>
          <input type="text" placeholder="cartegory">
        </div>
        
        <div class="right-items">
          <label for="name">Ticket Type</label>
          <select name="ticket_type" id="">
            <option value="singles">Select Option</option>
            <option value="singles">Singles</option>
            <option value="couple">Couple</option>
            <option value="group">Group of 5</option>
          </select>
        </div>
        
        <div class="right-items">
          <label for="name">Number Of Tickets Available</label>
          <input type="number" placeholder="0">
        </div>
        
        <div class="right-items">
          <label for="name">Price Per Group (optional)*</label>
          <input type="number" placeholder="0.00">
        </div>
      </div>

    </div>
    <div class="button-container">
      <button class="Cancel">Cancel</button>
      <button type="submit">Create Event</button>
    </div>
  </form>
</div>