.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 15vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-right: 1px double rgb(189, 189, 189);
  box-shadow: 0 0 3px rgb(158, 154, 154);
}

.elements-contaiver {
  margin-top: 8%;
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  width: 90%;
  height: 80%;
}

.profile-image-and-name {
  width: 100%;
  height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 5%;
}

.profile-image-and-name img {
  width: 16%;
  height: 100%;
  border-radius: 50%;
}

.profile-image-and-name h4 {
  width: 80%;
  font-size: 16px;
  color: rgb(126, 119, 119);
}

.dashboard-elements {
  display: flex;
  flex-direction: column;
  row-gap: 4%;
  width: 100%;
  height: 100%;
}

.dashboard-name {
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  row-gap: 5%;
}

.dashboard-name h5 {
  color: rgb(158, 154, 154);
}

.elements {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1%;
}

.element {
  height: 5vh;
  width: 100%;
  display: flex;
  column-gap: 2%;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.element::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 20%;
  width: 3px;
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

.element:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 176);
}

.element:hover::before {
  background-color: black;
}

.element:hover .arrow {
  background-color: transparent;
  color: transparent;
  padding-left: 5%;
}

.element p {
  font-size: 14px;
}

.icon {
  width: 12%;
  border-radius: 50%;
}

.arrow {
  width: 8%;
  margin-left: 2%;
}
