<div class="sidebar">
  <div class="elements-contaiver">
    <div class="profile-image-and-name">
      <img [src]="user.profile_image" [alt]="user.fullname" />
      <h4>{{user.fullname.split(' ')[0]}}</h4>
    </div>
    <div class="dashboard-elements">
      <div class="dashboard-name">
        <h5>Dashboard</h5>
      </div>
      <div class="elements">
        <div routerLink="m-dashboard" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/dashboard.png" alt="" />
          <p>Dashboard</p>
        </div>
        <div routerLink="m-events" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/events.png" alt="" />
          <p>Events</p>
        </div>
        <div routerLink="m-attendees" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/people.png" alt="" />
          <p>Attendees</p>
        </div>
        <div routerLink="m-new-events" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/newevent.png" alt="" />
          <p>New Events</p>
        </div>
        <div routerLink="m-profile" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/profile.png" alt="" />
          <p>Profile</p>
        </div>
        <div routerLink="m-notifications" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/events.png" alt="" />
          <p>Notifications</p>
        </div>
        <div class="element" routerLink="/login" (click)="clearLocalStorage()">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/logout.png" alt="" />
          <p>Logout</p>
        </div>
      </div>
    </div>
  </div>
</div>
