<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px;" src="/icons/down.png" alt="">
    </div>
    <p style="margin-top: 1vh;">{{formattedDate}} __- Time<span style="color: rgb(1, 162, 33); font-weight: 700; font-size: 18px;">: {{formattedTime}}</span></p>
  </div>
  <div class="stats-grid">
    <div class="stat-item">
      <h3>Total Users</h3>
      <p>{{totalUsers}}</p>
      <span>+1.01%</span>
    </div>
    <div class="stat-item">
      <h3>Event Managers</h3>
      <p>{{totalManagers}}</p>
      <span>{{totalUsers - totalManagers}}</span>
    </div>
    <div class="stat-item">
      <h3>Total Events</h3>
      <p>{{totalEvents}}</p>
      <span>+1.03%</span>
    </div>
    <div class="stat-item">
      <h3>Revenue Earned</h3>
      <p>{{totalRevenue | currency:"Ksh. "}}</p>
      <span>+0.01%</span>
    </div>
  </div>

  <div class="users">
    <h2 style="text-decoration: underline">Recently Joined Users</h2>
    <div class="grid-header">
      <div class="header-item">
        <h4>User</h4>
      </div>
      <div class="header-item">
        <h4>Email</h4>
      </div>
      <div class="header-item">
        <h4>Country</h4>
      </div>
      <div class="header-item">
        <h4>Date Joined</h4>
      </div>
      <div class="header-item">
        <h4>Contact</h4>
      </div>
    </div>
  
    <div class="user-item" *ngFor="let recent_user of recentUsers, let i = index">
      <div class="item-user">
        <img [src]="recent_user.profile_image" [alt]="recent_user.fullname">
        <p>{{recent_user.fullname}}</p>
      </div>
      <div class="item-email">
        <p>{{recent_user.email}}</p>
      </div>
      <div class="item-country">
        <p>{{recent_user.country}}</p>
      </div>
      <div class="item-date">
        <p>{{recent_user.createdAt | date}}</p>
      </div>
      <div class="item-contact">
        <p>{{recent_user.phone_number}}</p>
      </div>
    </div>
  </div>

  <div class="events">
    <h2 style="text-decoration: underline;">Recently Created Events</h2>
    <div class="grid-header">
      <div class="header-item">Event Manager</div>
      <div class="header-item">Email</div>
      <div class="header-item">Event Name</div>
      <div class="header-item">Location Held</div>
      <div class="header-item">Total Booked</div>
    </div>
    
    <div class="user-item" *ngFor="let recent_user of recentManagers, let i = index">
      <div class="item-user">
        <img [src]="recent_user.profile_image" [alt]="recent_user.fullname">
        <p>{{recent_user.fullname}}</p>
      </div>
      <div class="item-email">
        <p>{{recent_user.email}}</p>
      </div>
      <div class="item-country">
        <p>{{recentEvents[i].event_name}}</p>
      </div>
      <div class="item-date">
        <p>{{recentEvents[i].location}}</p>
      </div>
      <div class="item-contact" style="display: flex; align-items: center; justify-content: center;">
        <p>{{recentEvents[i].booked_tickets}}</p>
      </div>
    </div>
  </div>
  
</div>
