<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px;" src="/icons/down.png" alt="">
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>
  <div class="stats-grid">
    <div class="stat-item">
      <h3>Total Users</h3>
      <p>721K</p>
      <span>+11.01%</span>
    </div>
    <div class="stat-item">
      <h3>Event Managers</h3>
      <p>367K</p>
      <span>-0.03%</span>
    </div>
    <div class="stat-item">
      <h3>Total Events</h3>
      <p>1,156</p>
      <span>+15.03%</span>
    </div>
    <div class="stat-item">
      <h3>Revenue Earned</h3>
      <p>239K</p>
      <span>+6.08%</span>
    </div>
  </div>

  <div class="users">
    <h2 style="text-decoration: underline">Recently Joined Users</h2>
    <div class="grid-header">
      <div class="header-item">
        <h4>User</h4>
      </div>
      <div class="header-item">
        <h4>Email</h4>
      </div>
      <div class="header-item">
        <h4>Country</h4>
      </div>
      <div class="header-item">
        <h4>Date Joined</h4>
      </div>
      <div class="header-item">
        <h4>Contact</h4>
      </div>
    </div>
  
    <div class="user-item">
      <div class="item-user">
        <img src="/profile_images/hailey.jpeg" alt="">
        <p>Kate Morrison</p>
      </div>
      <div class="item-email">
        <p>katem05&#64;gmail.com</p>
      </div>
      <div class="item-country">
        <p>Larry San Francisco</p>
      </div>
      <div class="item-date">
        <p>1 minute ago</p>
      </div>
      <div class="item-contact">
        <p>+254712345678</p>
      </div>
    </div>
  </div>

  <div class="events">
    <h2 style="text-decoration: underline;">Recently Created Events</h2>
    <div class="grid-header">
      <div class="header-item">Event Manager</div>
      <div class="header-item">Email</div>
      <div class="header-item">Event Name</div>
      <div class="header-item">Location Held</div>
      <div class="header-item">Total Booked</div>
    </div>
  </div>
</div>
