<nav>
  <div class="contents">
    <div class="logo-and-name">
      <img src="../../../logo/title_logo1.gif" alt="company logo">
    </div>
    <div class="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </div>
    <div class="button-container">
      <button class="button">Get Started</button>
    </div>
  </div>
</nav>
