<div class="entire">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>
  <div class="messages">
    <h2>Messages</h2>
  </div>
  <div class="message">
    <div class="info">
      <h2>Welcome, Xplanner</h2>
      <p>
        Congratulations! Your registration with x planner was successful. We are
        glad to have you on board, enjoy our products, create events and also
        attend the most exclusive ones.
      </p>
    </div>
  </div>
</div>
