<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>

  <div class="stats-grid">
    <div class="stat-item">
      <h3>Total Events</h3>
      <p>102</p>
    </div>
    <div class="stat-item">
      <h3>Total Attendees</h3>
      <p>2,586</p>
    </div>
    <div class="stat-item">
      <h3>Event Earnings</h3>
      <p>Ksh. 19,850.59</p>
    </div>
  </div>

  <div class="searchbar">
    <img src="/icons/search.png" alt="" />
    <input type="text" placeholder="Search for events" />
  </div>

  <div class="details">
		<h2>X - Planner Events</h2>
  <div class="grid-header">
    <div class="header-item">Event Manager</div>
    <div class="header-item">Email</div>
    <div class="header-item">Event Name</div>
    <div class="header-item">Location Held</div>
    <div class="header-item">Total Attendees</div>
  </div>

  <div class="user-item">
    <div class="item-user">
			<img src="/profile_images/hailey.jpeg" alt="">
			<p>Kate Morrison</p>
		</div>
    <div class="item-email">katem05&#64;gmail.com</div>
    <div class="item-event-name">Beach Party</div>
    <div class="item-location">Mombasa</div>
    <div class="item-actions">
      700
    </div>
  </div>
	</div>
</div>