<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>

  <div class="details">
    <h2>Attendees History</h2>
    <div class="grid-header">
      <div class="header-item">User</div>
      <div class="header-item">Email</div>
      <div class="header-item">Event Name</div>
      <div class="header-item">Ticket Type</div>
      <div class="header-item">Price</div>
    </div>

    <div class="user-item" *ngFor="let attendee of attendees, let i = index">
      <div class="item-user">
        <img [src]="attendee.profile_image" [alt]="attendee.fullname" />
        <p>{{attendee.fullname}}</p>
      </div>
      <div class="item-email">{{attendee.email}}</div>
      <div class="item-event-name">{{events[i].event_name}}</div>
      <div class="item-location">{{bookings[i].ticket_type}}</div>
      <div class="item-actions">
        <div class="item-actions1" *ngIf="bookings[i].ticket_type == 'singles'">{{events[i].singles | currency:'Ksh. '}}</div>
        <div class="item-actions1" *ngIf="bookings[i].ticket_type == 'couple'">{{events[i].couple | currency:'Ksh. '}}</div>
        <div class="item-actions1" *ngIf="bookings[i].ticket_type == 'groups'">{{events[i].groups | currency:'Ksh. '}}</div>
      </div>
    </div>
  </div>
</div>
