.dashboard {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

.time-display {
  width: 100%;
  height: 8vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.today {
  width: 100%;
  display: flex;
  align-items: center;
}

.stats-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1%;
  margin-bottom: 5vh;
}

.stat-item {
  height: 100%;
  background-color: rgb(1, 43, 66);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #444;
}

.stat-item h3 {
  margin-bottom: 10px;
}

.searchbar {
  width: 30%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.searchbar img {
  width: 5%;
  position: absolute;
  left: 1%;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding-left: 6%;
}

h2 {
  margin-bottom: 2vh;
}

.grid-header {
  width: 100%;
  height: 8vh;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  background-color: lightblue;
}

.user-item {
  width: 100%;
  height: 8vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.details {
  width: 100%;
}

.header-item {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 1px solid #b3b3b3;
}

.user-item {
  margin-top: 2vh;
  align-items: center;
  border-bottom: 1px dotted #444;
}

.user-item:hover {
  cursor: pointer;
  background-color: #d5fddf;
}

.user-item > div img {
  width: 20%;
  height: 40px;
  border-radius: 50%;
}

.item-user,
.item-email,
.item-event-name,
.item-location {
  display: flex;
  align-items: center;
  column-gap: 5%;
  padding-left: 10px;
}

.item-actions {
  display: flex;
  height: 100%;
  column-gap: 3%;
  align-items: center;
  justify-content: center;
}

.approve-button,
.reject-button {
  background-color: #28a745;
  width: 40%;
  height: 60%;
}

.reject-button {
  background-color: #dc3545;
}

.approve-button:hover {
  background-color: #28a746b6;
}

.reject-button:hover {
  background-color: #dc3546b6;
}
