<div class="dashboard">
  <div class="time-display">
    <div class="today">
      <h2>Today</h2>
      <img style="width: 30px" src="/icons/down.png" alt="" />
    </div>
    <p>Wednessday, 10 July 2024</p>
  </div>

  <div class="details">
    <h2>Attendees History</h2>
    <div class="grid-header">
      <div class="header-item">User</div>
      <div class="header-item">Email</div>
      <div class="header-item">Contact</div>
      <div class="header-item">Ticket Type</div>
      <div class="header-item">Price</div>
    </div>

    <div class="user-item">
      <div class="item-user">
        <img src="/profile_images/hailey.jpeg" alt="" />
        <p>Kate Morrison</p>
      </div>
      <div class="item-email">katem05&#64;gmail.com</div>
      <div class="item-event-name">+254712345678</div>
      <div class="item-location">Single</div>
      <div class="item-actions">1,950.50</div>
    </div>
  </div>
</div>
