<div class="entire-contents">
  <div class="errorMsg" *ngIf="error" [style]="styles">
    <p>{{error}}</p>
  </div>
  <div class="successMsg" *ngIf="success" [style]="styles">
    <p>{{success}}</p>
  </div>
  <div class="container">
    <div class="image-placeholder">
      <div class="dark">
        <h1 style="color: white; width: 50%; margin-left: 5%; font-size: 45px; font-weight: 600;">Welcome back x_planner</h1>
      </div>
    </div>
    <div class="form-container">
        <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
            <h2>Login</h2>
            <div class="form-group">
              <label for="login-email">Email</label>
              <input type="email" name="email" #email="ngModel" ngModel required email>
              <div class="error" *ngIf="email.invalid && (email.touched || email.dirty)">
                <div class="error" *ngIf="email.hasError('required')">
                  <p>Email is required</p>
                </div>
                <div class="error" *ngIf="email.hasError('email')">
                  <p>Enter a valid email</p>
                </div>
              </div>
            </div>
            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="password" ngModel required minlength="8" >
                <div *ngIf="loginForm.submitted || loginForm.controls">
                </div>
            </div>
            <button type="submit" [disabled]="loginForm.invalid">Login</button>
            <p style="margin-top: 2vh;">Don't have an account? <a routerLink="/register">Register Now</a></p>
        </form>
    </div>
  </div>
</div>