<div class="sidebar">
  <div class="elements-container">
    <div class="profile-image-and-name">
      <img [src]="user.profile_image" [alt]="user.fullname" />
      <h4>{{user.fullname.split(' ')[0]}}</h4>
    </div>
    <div class="dashboard-elements">
      <div class="dashboard-name">
        <h5>Essentials</h5>
      </div>
      <div class="elements">
        <div routerLink="a-dashboard" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/dashboard.png" alt="" />
          <p>Dashboard</p>
        </div>
        <div routerLink="roles" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/roles.png" alt="" />
          <p>Roles</p>
        </div>
        <div routerLink="pending-events" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/pendingevents.png" alt="" />
          <p>Pending Events</p>
        </div>
      </div>
    </div>
    <div class="dashboard-elements">
      <div class="dashboard-name">
        <h5>Management</h5>
      </div>
      <div class="elements">
        <div routerLink="registered-users" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/regusers.png" alt="" />
          <p>Registered Users</p>
        </div>
        <div routerLink="managers" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/managers.png" alt="" />
          <p>Managers</p>
        </div>
        <div routerLink="created-events" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/createdevents.png" alt="" />
          <p>Created Events</p>
        </div>
        <div routerLink="analytics" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/analytics.png" alt="" />
          <p>Deleted Users</p>
        </div>
      </div>
    </div>
    <div class="dashboard-elements">
      <div class="dashboard-name">
        <h5>Essentials</h5>
      </div>
      <div class="elements">
        <div routerLink="a-notifications" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/notifications.png" alt="" />
          <p>Notifications</p>
        </div>
        <div routerLink="a-profile" class="element">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/profile.png" alt="" />
          <p>Profile</p>
        </div>
        <div class="element" (click)="clearLocalStorage()">
          <img class="arrow" src="/icons/foward.png" alt="" />
          <img class="icon" src="/icons/white/logout.png" alt="" />
          <p>Logout</p>
        </div>
      </div>
    </div>
  </div>
</div>
