<app-navbar></app-navbar>

<div class="landing-page">
  <div class="landing-image">
    <div class="darkbg">
      <div class="title-and-text">
        <h1>Experience the Magic of Seamless Planning</h1>
        <p>
          Experience the best of events offered to you. Your priority is our
          command.
        </p>
        <div class="images">
          <div class="img">
            <div class="single">
              <img src="../../../events/bdayimg.jpg" alt="Image 1" />
            </div>
            <div class="single1">
              <img src="../../../events/beach party.jpg" alt="Image 2" />
            </div>
            <div class="single2">
              <img
                src="../../../events/christmas-7655448_640.webp"
                alt="Image 3"
              />
            </div>
            <div class="single3">
              <img src="../../../events/club6.webp" alt="Image 4" />
            </div>
            <div class="single4">
              <img src="../../../events/dance night.jpg" alt="Image 5" />
            </div>
          </div>
          <h1>2K+</h1>
          <p>
            We provide events that will make you feel like a king. Experience
            our top-notch events.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section class="section6">
    <div class="events-title">
      <h1>Our Passion is your perfect event</h1>
      <p>
        We offer a wide range of event types to help you create the perfect
        event for your guests. From small gatherings to large celebrations, we
        have you covered.
      </p>
    </div>
    <!-- 10 different types of event cards here -->
    <div class="dynamic-events">
      <div class="event-card">
        <div class="block">
          <h3>Birthday Party</h3>
          <p>A special birthday party for your friend.</p>
          <span>more...</span>
        </div>
      </div>
      <div class="event-card">
        <h3>Beach Party</h3>
        <p>A fun and relaxing beach party for everyone.</p>
        <span>more...</span>
      </div>
      <div class="event-card">
        <h3>Christmas Party</h3>
        <p>A special Christmas party for your family and friends.</p>
        <span>more...</span>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="subheading">
      <h1>The finest event moments are made possible</h1>
      <p>
        Discover the best events in the city. Our events are designed to make
        you feel like a king. Browse through our site to find the best of
        events, book now and get started.
      </p>
      <button>Browse Events</button>
    </div>
  </section>

  <section class="section1">
    <img src="/events/christmas-7655448_640.webp" alt="" />
  </section>

  <div class="tally">
    <div class="counts">
      <div class="count1">
        <h1>12,345</h1>
        <p>Events</p>
      </div>
      <div class="count2">
        <h1>567,890</h1>
        <p>Attendees</p>
      </div>
      <div class="count3">
        <h1>3,210</h1>
        <p>Venues</p>
      </div>
      <div class="count4">
        <h1>246,800</h1>
        <p>Staff</p>
      </div>
    </div>
  </div>

  <section class="section2">
    <div class="centered-image-and-text">
      <div class="centered-image">
        <img src="/events/profile.jpg" alt="" />
      </div>
      <div class="centered-text">
        <div class="c1">
          <h1>What our clients say</h1>
        </div>
        <div class="c2">
          <p>
            "We have been using EventMaster for over a year now and have been
            loving every moment. They've been great at making our events feel
            like a king. I highly recommend them to anyone looking for the best
            of events."
          </p>
        </div>
        <div class="c3">
          <h3>Johanah Rouch</h3>
          <h5>Tuesday, 9 July 2024</h5>
        </div>
      </div>
    </div>
  </section>

  <section class="section3">
    <div class="center-items">
      <div class="title-and-button">
        <h1>Quality services are key to our success</h1>
        <button>
          View All
          <img
            style="width: 25px"
            src="/icons/arrow_circle_right_53dp_FFFFFF.png"
            alt=""
          />
        </button>
      </div>
      <!--different events-->
      <div class="events-holder">
        <div class="event">
          <div class="event-info">
            <h3>Coules Hangouts</h3>
            <h5>July 15, 2024</h5>
            <p>A special birthday party for our friend.</p>
          </div>
        </div>
        <div class="event1">
          <div class="event-info">
            <h3>Beach Party</h3>
            <h5>July 20, 2024</h5>
            <p>A fun and relaxing beach party for everyone.</p>
          </div>
        </div>
        <div class="event2">
          <div class="event-info">
            <h3>Special Private Outings</h3>
            <h5>July 20, 2024</h5>
            <p>
              Quality services and events for relaxation and top notch services.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section4">
    <div class="centered-items">
      <div class="logos">
        <img
          style="width: 23%"
          class="apple"
          src="/logo/apple.png"
          alt="apple logo"
        />
      </div>

      <div class="logos">
        <img src="/logo/circle_2_logo.png" alt="apple logo" />
      </div>

      <div class="logos">
        <img src="/logo/fire_logo.png" alt="apple logo" />
      </div>

      <div class="logos">
        <img
          style="width: 30%; height: 45%"
          src="/logo/car_logo.webp"
          alt="apple logo"
        />
      </div>
    </div>
  </section>

  <section class="section5">
    <div class="centered-image-and-floating-text">
      <div class="centered-image1">
        <img src="/events/singing.jpeg" alt="" />
      </div>
      <div class="floating-text">
        <h1>Discover the magic of seamless planning</h1>
        <p>
          X - plana is a leading event planning company specializing in the
          creation of seamless, high-quality events. Our mission is to make
          events feel like a king and to provide our customers with the best
          possible experiences.
        </p>
        <h3>Felix Okoth</h3>
        <h3>exhechar</h3>
      </div>
    </div>
  </section>

  <section class="contact-section">
    <div class="contact-container">
      <h1>Looking for Something best,<br />Contact us</h1>
      <form class="contact-form">
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="text" placeholder="Phone" />
        <input type="text" placeholder="Subject" />
        <textarea placeholder="Message"></textarea>
        <button type="submit">Send message</button>
      </form>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-address">
        <h4>Address</h4>
        <p>Oxford Ave. Cary, NC 27511</p>
        <p>Opening hours</p>
        <p>Sun-Mon: 10am - 10pm</p>
      </div>
      <div class="footer-info">
        <h4>X - Planner</h4>
        <!--paragraph message for contacting us-->
        <p>We're here to help you plan your perfect event.</p>
        <a href="#">Privacy Policy</a> <br />
        <a href="#">Terms & Conditions</a>
        <div class="footer-social">
          <img src="/icons/facebook.png" alt="icon1" />
          <img src="/icons/instagram.png" alt="icon2" />
          <img src="/icons/x.png" alt="icon3" />
          <img src="/icons/youtube.png" alt="icon4" />
        </div>
      </div>
      <div class="footer-contact">
        <h4>Phone</h4>
        <p>+322 689-3910</p>
        <h4>Email</h4>
        <p>ocevans outlook.com</p>
      </div>
    </div>
    <p class="footer-copyright">
      © Copyright Wedding 2024. Design by Felix.Okoth
    </p>
    <p>'xhr'</p>
  </footer>
</div>
