<div class="sidebar">
  <div class="elements-contaiver">
    <div class="profile-image-and-name">
      <img src="/profile_images/peter.jpeg" alt="Profile Image">
      <h4>Exhechar</h4>
    </div>
    <div class="dashboard-elements">
      <div class="dashboard-name">
        <h5>Dashboard</h5>
      </div>
      <div class="elements">
        <div routerLink="events" class="element">
          <img class="arrow" src="/icons/foward.png" alt="">
          <img class="icon" src="/icons/events.png" alt="">
          <p>Events</p>
        </div>
        <div routerLink="booking" class="element">
          <img class="arrow" src="/icons/foward.png" alt="">
          <img class="icon" src="/icons/bookings.png" alt="">
          <p>Booking History</p>
        </div>
        <div routerLink="profile" class="element">
          <img class="arrow" src="/icons/foward.png" alt="">
          <img class="icon" src="/icons/profile.png" alt="">
          <p>Profile</p>
        </div>
        <div routerLink="notifications" class="element">
          <img class="arrow" src="/icons/foward.png" alt="">
          <img class="icon" src="/icons/events.png" alt="">
          <p>Notifications</p>
        </div>
        <div class="element">
          <img class="arrow" src="/icons/foward.png" alt="">
          <img class="icon" src="/icons/logout.png" alt="">
          <p>Logout</p>
        </div>
      </div>
    </div>  
  </div>
</div>

